{% extends 'base.twig' %}

{% block main %}
	<h1>Détail d'un auteur</h1>
	<h2>{{ auteur.prenom }} {{ auteur.nom }}</h2>
			<ul> Liste des livres de l'auteur :
		{% if auteur_livres is empty %}
			<li>Aucun livre disponible pour cette auteur</li>
		{% else %}
			{% for livre in auteur_livres %}
				<li>{{ livre.titre }}</li>
		{% endfor %}
		{% endif %}
		</ul>
	<p><a href="liste_auteurs.php">Retour</a></p>
{% endblock %}
