{% extends 'base.twig' %}

{% block main %}
	<h1>Liste des editeurs</h1>
	<ul>
	{% for editeur in tableau_editeurs %}
		<li>
			<p>{{ editeur.nom }} <a href="detail_editeur.php?id={{ editeur.id }}">voir le détail</a></p>
		</li>
	{% endfor %}
	</ul>

			<h3>Ajouter un editeur</h3>
		<form method="post" action="reception_editeur.php">
			<input type="text" name="nom_editeur" value="" placeholder="Saisir le nom de l'editeur">
			<input type="text" name="adresse_editeur" value="" placeholder="Saisir l'adresse de l'editeur">
			<input type="submit">	
		</form>
{% endblock %}
